<!DOCTYPE html>
<html lang="en">
<head>
    <title>Career site</title>
   {% include 'bootstrap.html' %}
    
</head>
<body>
    {% include 'nav.html' %}
    {% include 'picture.html' %}
    <div class="container">
        <h1 class="text-center">Boost your Career</h1>
        <h2 class="text-center mt-3 mb-4">About our site</h2>
        <div class="row">
            <div class="=col-md-6">
                <p class="lead">Here is the description....</p>
            </div>
            <div class="d-none d-md-block col-md-6">
                <img src="/static/people.jpg" style="height: 320px; border-radius: 4px;">
            </div>
        </div>
        <h2 class="text-center mt-3 mb-4">Open Position</h2>
        <div>
            {% for job in jobs %}
                {% include 'jobitems.html' %}
            {% endfor %}
        </div>
        <div class="text-center mt-3 mb-4">
            <a href="mailto:hr@getcareer.com?subject=Query%20about%20job%20openings&body=My%20name%3A%3Cmy%20name%3E%0D%0AMy%20question%3A%3Center%20question%3E%0D%0A"  class='btn btn-primary btn-lg'>Contact us</a>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>